.root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: -999;
  pointer-events: none;
}

.root.active {
  pointer-events: all !important;
}
